header {
  height: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 0.1px solid rgb(197, 197, 197);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 10px 400px;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 3;
}

nav .home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  box-sizing: border-box;
  -webkit-user-select: none;
  max-height: 50px;
}

nav input {
  box-sizing: border-box;
  padding-left: 10px;
  width: 250px;
  height: 25px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 2px;
  background-color: rgb(247, 247, 247);
}

nav .search-bar-wrapper {
  position: relative;
  z-index: 100;
}

nav .search-bar-wrapper div {
  display: flex;
  flex-direction: column;
  left: 50%;
  margin-left: -150px;
  top: 170%;
  width: 300px;
  background-color: #fff;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 2px;
  box-sizing: border-box;
  position: absolute;
  max-height: 362px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
}

nav .search-bar-wrapper:before {
  content: '';
  border: 12px solid transparent;
  border-bottom: 12px solid #fff;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  top: 82%;
  width: 0;
  z-index: 3;
}

nav .search-bar-wrapper .triangle-bottom {
  height: 18px;
  width: 18px;
  position: absolute;
  margin: 0;
  top: 140%;
  left: 50%;
  margin-left: -9px;
  transform: rotate(45deg);
  border: 1px solid rgb(197, 197, 197);
  border-radius: 0px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
}

nav .search-bar-wrapper .no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
}

nav .search-bar-wrapper div a {
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efefef;
  height: 50px;
  padding: 8px 14px;
  white-space: nowrap;
}

nav .search-bar-wrapper div a img {
  height: 36px;
  width: 36px;
  border-radius: 20px;
  object-fit: cover;
}

nav .search-bar-wrapper div a img::before {
  font-size: 10px;
  content: 'Photo';
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.01px solid rgb(197, 197, 197);
  background-color: rgb(224, 221, 221);
}

nav .search-bar-wrapper div a span {
  margin-left: 10px;
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
  font-weight: 600;
  color: #262626;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
  width: 230px;
}

nav ul li {
  box-sizing: border-box;
  list-style: none;
}

nav ul li a,
nav .home-wrapper a {
  line-height: 50px;
  color: rgba(35, 31, 32, 0.637);
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.25s;
}

nav ul li a.active,
nav .home-wrapper a.active {
  box-sizing: border-box;
  color: rgb(35, 31, 32);
  border-bottom: 1px solid rgb(35, 31, 32);
  padding-bottom: 24px;
  cursor: default;
}

nav ul li a.active span,
nav .home-wrapper a.active span {
  cursor: pointer;
}
