.profile {
  height: 92%;
  padding: 0 470px 0 470px;
}

.profile .user-info-wrapper {
  max-width: 943px;
  margin: 60px 10px 0px 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid #efefef;
}

.profile .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 220px 0px 90px;
}

.profile .main-info {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding: 5px 0 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile .top-info {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.profile .top-info p {
  font-size: 28px;
  margin: 0;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile .top-info-buttons {
  padding-left: 20px;
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.profile .top-info button {
  box-sizing: border-box;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.445);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  transition: 0.5s;
  cursor: pointer;
  font-size: 14px;
}

.profile .top-info .logout-button {
  height: 35px;
  width: 70px;
  transition: 0.3s;
  border: none;
  background: transparent;
}

.profile .top-info .logout-button:hover {
  color: rgb(0, 0, 0);
}

.profile .top-info .logout-button:focus {
  outline: none;
}

.profile .top-info .follow-button {
  background-color: grey;
  height: 30px;
  width: 185px;
  border-radius: 5px;
  border-color: rgb(56, 151, 240);
  background-color: rgb(56, 151, 240);
  color: #fff;
}

.profile .top-info .follow-button:focus {
  outline: none;
}

.profile .top-info .suggested-button {
  background-color: grey;
  height: 30px;
  width: 35px;
  border-radius: 5px;
  border-color: rgb(56, 151, 240);
  background-color: rgb(56, 151, 240);
  color: #fff;
  font-size: 12px;
}

.profile .top-info .suggested-button:focus {
  outline: none;
}

.profile .top-info .suggested-button.active {
  border-color: rgb(114, 180, 242);
  background: rgb(114, 180, 242);
  color: rgb(253, 253, 253);
}

.profile .top-info .suggested-button.followed.active {
  border-color: #dbdbdb;
  background-color: rgb(250, 250, 250);
  color: rgb(151, 151, 151);
}

.profile .top-info .followed {
  color: rgba(0, 0, 0);
  background-color: #fff;
  border-color: #dbdbdb;
}

.profile button.options-button {
  height: 35px;
  width: 70px;
  border: none;
  background: transparent;
}

.profile .create-button {
  text-decoration: none;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  width: 220px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}

.profile ul.bottom-info {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  display: flex;
  list-style-type: none;
}

.profile .bottom-info li {
  margin-right: 20px;
}

.profile .bottom-info li div.bottom-info-active {
  cursor: pointer;
}

.profile .bottom-info li span {
  font-weight: 500;
  color: rgb(38, 38, 38);
}

.profile .profile-photo {
  height: 150px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1);
  border-radius: 50%;
  object-fit: cover;
}

.profile img.active,
.profile img.active:before {
  cursor: pointer;
}

.profile img.profile-photo:before {
  content: 'Profile pic';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border: 0.01px solid rgb(197, 197, 197);
  border-radius: 100px;
  background-color: rgb(224, 221, 221);
}

.profile .main {
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.profile .main:last-of-type {
  margin-right: auto;
}

.profile .main .empty-main {
  width: 100%;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #262626;
}

.profile .main .empty-main div {
  font-size: 50px;
}

.profile .main .empty-main span {
  color: #262626;
  font-size: 28px;
  font-weight: 300;
}

.profile .options-modal-window h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
  color: #262626;
  font-weight: 600;
  font-size: 18px;
}

.profile .options-modal-window .upload-photo {
  color: #3897f0;
  font-weight: 600;
}

.profile .options-modal-window .remove-photo {
  color: #ed4956;
  font-weight: 600;
}

.profile .profile-photo-edit-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 15px 15px 5px 15px;
  box-sizing: border-box;
}

.profile .profile-photo-edit-wrapper .buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .profile-photo-edit-wrapper .save-button {
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  width: 90px;
  height: 30px;
  padding: 0 6px;
  margin-bottom: 10px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 2px;
  background-color: rgb(247, 247, 247);
  letter-spacing: 1px;
  box-shadow: 0 1px 0 hsl(220, 7%, 83%);
  transition: 0.1s;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

.profile .profile-photo-edit-wrapper .cancel-button {
  border: none;
  color: rgb(153, 153, 153);
  box-sizing: border-box;
  width: 90px;
  height: 30px;
  margin: 0 0 10px 10px;
  letter-spacing: 1px;
  transition: 0.1s;
}

.profile .profile-photo-edit-wrapper input {
  box-sizing: border-box;
  padding-left: 10px;
  margin-bottom: 15px;
  width: 100%;
  height: 35px;
  border: 0.5px solid rgb(197, 197, 197);
  border-radius: 2px;
  background-color: rgb(247, 247, 247);
  transition: 0.5s;
  letter-spacing: 0;
  box-shadow: 0 1px 0 hsl(220, 7%, 83%);
  border-radius: 12px;
}

.profile .profile-photo-edit-wrapper input.error {
  border-color: rgb(228, 87, 87);
}

.profile .profile-photo-edit-wrapper input.error::placeholder {
  transition: 0.5s;
  color: rgb(228, 87, 87);
}

.profile .profile-photo-edit-wrapper .save-button:focus,
.profile .profile-photo-edit-wrapper .cancel-button:focus,
.profile .profile-photo-edit-wrapper input:focus {
  outline: none;
}

.profile .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
