.comments input {
  height: 55px;
  width: 531px;
  box-sizing: border-box;
  border: none;
  word-wrap: break-word;
  font-size: 16px;
}

.comments .form-wrapper {
  border-top: 1px solid #efefef;
  background-color: #fff;
  display: flex;
}

.comments form {
  padding: 0 16px;
}

.comments input:focus {
  outline: none;
}

.comments input[type='submit'] {
  width: 15%;
  background-color: #fff;
  color: rgb(56, 151, 240);
  padding: 0;
  margin-left: 5px;
  transition: 0.5s;
  cursor: pointer;
  height: auto;
  width: auto;
}

.comments input[type='submit'].non-active {
  color: rgb(196, 224, 251);
  cursor: default;
}

.comments li {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 5px;
  transition: 0.3s;
  box-sizing: border-box;
  padding: 0px 16px;
  width: 100%;
}

.comments li a {
  margin-right: 6px;
}

.comments li button {
  color: #dbdbdb;
  background: transparent;
  border: none;
  padding: 0;
  transition: 0.25s;
  position: relative;
  font-size: 16px;
  cursor: pointer;
}

.comments li button:hover {
  color: rgb(153, 153, 153);
}

.comments li button:focus {
  outline: none;
}

.comments ul {
  margin: 0 0 15px 0;
  padding: 0;
  box-sizing: border-box;
}

.comments .show-all-button {
  color: rgb(153, 153, 153);
  background: transparent;
  border: none;
  padding: 0;
  padding-left: 16px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 10px;
}

.comments .non-active {
  color: rgba(128, 128, 128, 0);
  cursor: default;
  -webkit-user-select: none;
  margin: 0;
}

.comments .show-all-button:focus {
  outline: none;
}
