.stories-wrapper {
  width: 300px;
  height: 100px;
}

.stories {
  border: 0.5px solid rgb(197, 197, 197);
  border-radius: 2px;
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  position: fixed;
  box-shadow: 0 2px 0 hsl(220, 7%, 83%);
}
