.stories {
  border: 0.5px solid rgb(197, 197, 197);
  border-radius: 2px;
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  position: fixed;
}

.stories-wrapper {
  width: 300px;
  height: 100px;
}
