main {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

main div.post-wrapper {
  /* margin-right: 50px; */
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div.post-wrapper .rest-posts {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgb(56, 151, 240);
  height: 40px;
  width: 220px;
  box-shadow: 0 2px 0 hsl(220, 7%, 83%);
}

main .empty-feed {
  width: 600px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
}

main .empty-feed .empty-feed-alert {
  margin-bottom: 60px;
}

main .empty-feed .empty-feed-alert a {
  text-decoration: none;
  color: rgb(56, 151, 240);
  font-weight: 600;
}

main .loading .profile-photo {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: rgb(230, 230, 230);
  margin-right: 10px;
}

main .loading .loading-image {
  width: 600px;
  height: 540px;
  background-color: rgb(230, 230, 230);
}

main .loading span {
  color: rgb(230, 230, 230);
  background-color: rgb(230, 230, 230);
  border-radius: 3px;
}

main .loading .like-wrapper div {
  margin-top: 5px;
}

main .loading .caption {
  margin: 15px 0;
}

main .loading .loading-input {
  border-top: 1px solid #efefef;
  padding: 18px 16px;
  display: flex;
  justify-content: space-between;
}

main .suggested {
  width: 620px;
  margin-top: 0;
  margin-bottom: 60px;
}
