.post {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  width: 620px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 3px;
  box-shadow: 0 2px 0 hsl(220, 7%, 83%);
}

.post img {
  -webkit-user-select: none;
  height: auto;
  max-height: 800px;
  object-fit: cover;
  width: 620px;
}

.post img::before {
  content: 'That is a broken one';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  background-color: rgb(230, 230, 230);
}

.post a {
  font-weight: 600;
  text-decoration: none;
  color: rgb(35, 31, 32);
}

.post .bar {
  padding: 10px 16px;
  background-color: #fff;
}

.post .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

.post .top-bar img {
  height: 45px;
  width: 45px;
  border-radius: 40px;
  margin-right: 10px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1);
  border-radius: 50%;
}

.post .top-bar img::before {
  font-size: 12px;
  content: 'Photo';
  height: 45px;
  width: 45px;
  border-radius: 50px;
}

.post .top-bar .profile-picture-wrapper {
  display: flex;
  align-items: center;
}

.post .bottom-bar {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

.like-button {
  display: flex;
  padding: 0;
  width: 55px;
  border: none;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.like-button:focus {
  outline: none;
}

.liked {
  color: #f00;
}

.post .post-options-button {
  border: none;
  background: transparent;
  cursor: pointer;
  height: 100%;
  padding: 0;
  color: rgb(153, 153, 153);
}

.post .post-options-button:focus {
  outline: none;
}

.post .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post .like-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  padding-left: 16px;
}

.post .like-wrapper span {
  font-weight: 600;
}

.post .caption {
  word-wrap: break-word;
  padding: 0 16px;
}

.post .caption a {
  margin-right: 6px;
}

.deleted-post {
  margin-bottom: 50px;
  width: 620px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  transition: 0.25s;
  box-shadow: 0 2px 0 hsl(220, 7%, 83%), inset 4px 0 0 rgb(231, 88, 72);
}

.deleted-post button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: rgb(153, 153, 153);
  padding-top: 4px;
}
