.comment div {
  word-wrap: break-word;
  width: 93%;
}

.comment .options-wrapper {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment .options-wrapper .edit-button {
  margin-right: 5px;
}

#edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: inset 4px 0 0 rgb(244, 202, 100);
}

#edit .buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit .save-button {
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  width: 100px;
  height: 35px;
  margin-bottom: 10px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 2px;
  background-color: rgb(247, 247, 247);
  letter-spacing: 1px;
  box-shadow: 0 1px 0 hsl(220, 7%, 83%);
  transition: 0.1s;
}

#edit .cancel-button {
  color: rgb(153, 153, 153);
  box-sizing: border-box;
  width: 100px;
  height: 35px;
  margin: 0 0 10px 10px;
  letter-spacing: 1px;
  transition: 0.1s;
}

#edit input {
  box-sizing: border-box;
  padding-left: 10px;
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  border: 0.5px solid rgb(197, 197, 197);
  border-radius: 2px;
  background-color: rgb(247, 247, 247);
  transition: 0.5s;
  letter-spacing: 0;
  box-shadow: 0 1px 0 hsl(220, 7%, 83%);
}

#edit input.error {
  border-color: rgb(228, 87, 87);
}

.comment .more-button {
  color: rgb(153, 153, 153);
}
